.saw-section {
  box-sizing: border-box;
  border: 1px solid black;
  height: 95vh;
  width: 98.7vw;
  position: relative;
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
  padding: 10px;
}

.menu {
  border: 1px solid black;
  width: 15em;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 5;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
}

.data {
  border: 1px solid black;
  width: 80%;
  padding: 10px;
}

.saw-box {
  border: 1px solid black;
  border-radius: 5%;
  width: 180px;
  height: 170px;
  position: relative;
}

/* this is for the toggle switch */
